{% extends 'base-page.html' %}
{% load static %}

{% block title %}
About Us
{% endblock title %}

{% block container %}

<div id="content" class="float_r">
    <h1>About Us</h1>
    <p>As a company made up of musicians and music lovers, we're driven by our shared belief
    that music is the greatest unifying force in the world.
    And that idea fuels our mission to fill the world with music.
    To give people the tools they need to create and connect. To be seen and heard.
    And recently, to help and to heal.
    Music can stir the soul and change the frequency of the planet. So let's make some noise.
    Because the world needs to hear what you have to play.</p>
</div>
<div class="cleaner h20"></div>
<h3>Careers</h3>
<p>As a member of the Guitar Center family,
    you'll be part of the world's largest multi-channel musical instrument retailer.
    You'll also work in a positive, energetic atmosphere with others who are passionate
    about filling the world with music.</p>
<div class="cleaner"></div>
<blockquote><h4>Integrity</h4>
We do the right thing. We are open, honest and morally strong.
We are transparent and ethical in all of our interactions with associates, customers, vendors and the public.
</blockquote>
<blockquote><h4>Customer First</h4>
We strive to exceed the expectations of our customers.
</blockquote>
<blockquote><h4>Respect</h4>
We treat others as we expect to be treated.
    We embrace each individual's unique talents and honor diverse life and work styles.
</blockquote>
<blockquote><h4>Passion</h4>
We strive to inspire others through our tenacity, energy and enthusiasm,
with accountability to others and ourselves in order to fulfill our promises.
</blockquote>
<blockquote><h4>Contact Us Now!</h4>
Call 854-771-3374
</blockquote>
</div>
<div>

{% endblock container %}