{% extends 'base-page.html' %}
{% load static %}

{% block title %}
Shopping Cart
{% endblock title %}

{% block container %}

<div id="content" class="float_r">
    <h1>Shopping Cart</h1>
    <table width="650px" cellspacing="5" cellpadding="5">
        <tr bgcolor="#dda">
            <th width="600" align="left">Name</th>
            <th width="60" align="center">Quantity</th>
            <th width="100" align="center">Price</th>
            <th width="60" align="center">Amount</th>
            <th width="90" align="center">Delete</th>
        </tr>
        {% for item in items %}
        <tr bgcolor="#ddd">
            <th width="600" align="left">{{ item.product }}</th>
            <th width="60" align="center">{{ item.quantity }}</th>
            <th width="100" align="center">{{ item.price }}</th>
            <th width="60" align="center">{{ item.amount }}</th>
            <th width="90">
                <form method="post" action="{% url 'cart_delete_item' item.pk %}">
                    {% csrf_token %}
                    <button type="submit">delete</button>
                </form>
            </th>
        </tr>
        {% endfor %}
        <tr bgcolor="#FFF">
            <th width="600" align="left"></th>
            <th width="60" align="center"></th>
            <th width="100" align="center">Total</th>
            <th width="60" align="center">{{ cart.amount }}</th>
            <th width="90" align="center"></th>
        </tr>
    </table>
</div>
<div id="content" class="float_r">
    <a href="{% url 'make_order' %}">
        Process to Payment
    </a>
</div>
<div id="content" class="float_r">
    <br>
    <p><a href="javascript:history.back()">Continue shopping</a></p>
</div>
<div class="cleaner h30"></div>


{% endblock container %}